<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8"/>
    <title>风火轮激活码</title>
</head>
<body>
<p>
    尊敬的用户您好！<br><br>
    感谢您购买风火轮！以下是您的激活码：<br><br>
    <font size="5" color="red"><b>{{ code }}</b></font> <br><br>
    此激活码<font size="5" color="red"><b>七天</b></font>内有效，请输入手机APP里以完成注册，谢谢！<br><br>
    风火轮客服
</p>
</body>
</html>
