<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8"/>
    <title>酷轮初始密码</title>
</head>
<body>
<p>
    尊敬的用户您好！<br><br>
    感谢您购买酷轮！以下是您的初始密码：<br><br>
    <font size="5" color="red"><b>{{ code }}</b></font> <br><br>
    为了保护您的账号安全，<font size="5"><b>请登录后及时修改密码</b></font>，谢谢！<br><br>
    酷轮客服
</p>
</body>
</html>
